.continer-profile{
    width: 100%;
    /* min-height: 100vh; */
    overflow: hidden;
    /* position: relative; */
    background-color: #f8bec1;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.pro{
    width: 80%;
    margin: 100px auto;
    padding: 35px;
    box-shadow: 0 0 19px 0 #911F27;
    background-color: white;
    border-radius: 10px;
    top:700px;
    left:0;
    transition: 0.5s;
}

.profile_page{
    width: 100%;
    /* display: block; */
    /* flex-wrap: wrap; */
    padding: 0 10px;
    margin: auto;
}


.profile_page .profile_header{
    justify-content: space-between;
    display: flex; 
}

.profile_page .row{
    padding: 0 10px;
    justify-content: center;
    align-items: center;
}


.profile_page h4{
    text-transform: uppercase;
    padding: 10px 25px;
    margin: 10px 0;
}

.profile_page .avatar{
    width: 120px;
    height: 120px;
    overflow: hidden;
    position: relative;
    margin: 15px ;
    border: 2px solid  #911F27;
    border-radius: 50%;
    cursor: pointer;
}
.profile_page img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.profile_page .avatar span{
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 50%;
    background: rgba(255, 233, 233, 0.533);
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    color: #911F27;
    font-weight: bolder;
    transition: 0.3s ease-in-out;
}
.profile_page .avatar:hover span{
    bottom: -15%;
}
.profile_page #file_up{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
}

.profile_page h2{
    text-align: center;
    font-size: 1.7rem;
    text-transform: uppercase;
    color: #911F27;
    margin: 10px 0;
}
.profile_page label{
    display: block;
    margin-top: 5px;
}
.profile_page input{
    max-width: 400px;
    min-width: 230px;
    height: 40px;
    margin: 5px 0;
    border-color: #c0454d;
    outline: none;
    background: #f8e2e3;
    border-radius: 5px;
    padding: 0 5px;
}
.profile_page button{
    background: #911F27;
    color: white;
    padding: 8px 20px;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: bolder;
    letter-spacing: 1.4px;
    margin: 12px 0;
}

/* ----------- Col Right----------- */

.profile_page .col-right{
    padding: 0 10px;
    flex: 1;
    min-width: 300px;
}
.profile_page .col-right h2{
    font-size: 1.7rem;
    text-transform: uppercase;
    color: #911F27;
    margin: 10px 0;
}

/* ------------ Table------------ */

.customers{
    border-collapse: collapse;
    width: 100%;
}
.customers td,
.customers th{
    border: 2px solid #ad5157;
    padding: 8px;
    min-width: 100px;
}
.customers tr:nth-child(even){
    background: #fce8e9;
}
.customers th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background: #911F27;
    color: white;
}
.customers i{
    cursor: pointer;
}
.customers .fa-user-plus{
    color: green;
    font-size: 20px;
}
.customers .fa-user{
    color: rgb(14, 1, 1);
    font-size: 20px;
}
.customers .fa-user-md{
    color: rgb(83, 16, 240);
    font-size: 25px;
}
.customers .fa-edit{
    background: rgb(245, 245, 245);
    padding: 7px;
    color: #911F27;
    font-size: 15px;
}
.customers .fa-trash-alt{
    background: red;
    padding: 7px;
    color: white;
    font-size: 10px;
    margin-left: 7px;
}


/* -------------- Edit User ----------------- */

.edit_user .go_back{
    background: white;
    color: #911F27;
    margin: 20px;
    font-size: 1.2rem;
    height: 80vh;
}
.edit_user .col-left{
    margin-top: 50px;
}

.edit_user .form-group{
    color: #911F27;
}

.edit_user .col-left input{
    background: #fce8e9;
}
.edit_user .col-left #isAdmin{
    width: 20px;
    height: 20px;
    transform: translateY(3px);
    margin: 10px 0;
}

.mycheck input[type="checkbox"]:checked ~ label::before {
    color: #7bbe72;
}

.mycheck input[type="checkbox"]:checked ~ label::after {
    -webkit-transform: rotate(-45deg) scale(1);
    transform: rotate(-45deg) scale(1);
}
  

.edit_user .col-left #isAdmin + label{
    display: inline-block;
    margin-left: 5px;
}




