.message {
  display: flex;
  flex-direction: column;
  margin: 6px;
}

.messageTop-new {
  display: flex;
}

.messageImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.messageText-new {
  padding: 4px 10px;
  border-radius: 15px;
  background-color: #8b1319;
  color: white;
  max-width: 300px;
  border: 1px solid white;
}

.messageTime {
  font-size: 12px;
  margin: 0px 10px 15px 2px;
}

.message.own {
  align-items: flex-end;
}

.message.own .messageText-new {
  background-color: white;
  color: #500c0f;
  border: 1px solid #350b0d;
}
