.footer {
  text-align: center;
  color: white;
  background-color: #911f27;
  font-family: "Poppins", sans-serif;
  padding: 20px;
  width: 100%;
  min-height: 190px;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0px;
}

.footer h3 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}

.contact_footer{
font-weight: bold;
text-transform: uppercase;
}

.footer p {
  margin-top: 15px;
}
