.menu-bar{
    background-image: linear-gradient(-90deg,#911F27,#911F27,#911F27);
    opacity: 0.95;
    box-shadow: 0 0 15px #911F27;
}

.navbar-nav {
    text-align: right;
    margin-right: 20px;
}
.menu-bar .navbar-brand h1{
    font-size: 2rem;
    font-family: 'Poppins';
    color:rgb(250, 248, 248);
    opacity: 1;
} 

.menu-bar .navbar-brand:hover{ 
    color: white;
    text-decoration: none;
}

.menu-bar .navbar-toggler{
    padding-right: 20px;
    outline: none !important;
    border: none !important;
}
.navbar .fa{
    color: white !important;
    font-size: 26px;
}


.menu-bar ul li{
    display: inline-block;
    padding: 0 20px;
}
.menu-bar ul li:hover{
    outline: none;
    color: aliceblue;
    font-weight: bold;
}

.menu-bar ul li img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.menu-bar a{
    color: rgb(240, 238, 238);
    opacity: 0.9;
    padding: 5px ;
    font-family: 'Poppins', sans-serif;
    margin: 5px 5px ;
}
.menu-bar a:hover{
    opacity: 1;
    outline: none;
}
.menu-bar a:active {
    color: rgb(236, 225, 235);
    font-weight: bold;
  }

/* --------- Dropdown ---------- */

.drop-nav{
    position: relative;
    /* padding: 5px 5px; */
}

.drop-nav .avatar_user {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.drop-nav a{
    text-transform: capitalize;
    overflow: hidden;
}
.drop-nav .dropdown{
    position: absolute;
    background: #a0232b;
    opacity: 1;
    width: 110px;
    /* width: calc(100% + 55px); */
    top: 35px;
    right: 0;
    border-radius: 5px;
    text-transform: uppercase;
    box-shadow: 0 0 15px #3f0a0d;
    display: none;
    padding-right: 65px;
    text-align: center;
}
.drop-nav .dropdown li{
    display: block;
    right: 20px;
    padding: 10px 0;
}
.drop-nav .dropdown .dropdown-profile{
    position: relative;
    opacity: 1;
}
.drop-nav:hover .dropdown{
    display: block;
} 
