.logo{
    display: block;
    margin: auto;
    width: 60px;
    height: 50px;
}
h1{
    margin-top: 12px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
body{
    height: 110vh;
}
.containerM{
    border: 2px solid black;
    margin: auto;
    overflow-y: auto;
    margin-bottom: 23px;
    border-radius: 7px;
    width: 300px;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    height: 200px;
}
/* .message{
    background-color: #f7f2f2;
    width: 50%;
    padding: 10px;
    margin: 17px 2px;
    border: 2px solid #911f27;
    border-radius: 10px;
} */

.left{
    float: left;
    clear: both;
}
.right{
    float: right;
    clear: both;
}
#send-container{
    display: block;
    margin: auto;
    text-align: center;
    max-width: 985px;
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#messageInp{
    width: 90%;
    border: 2px solid black;
    border-radius: 5px;
    height: 34px;
    margin: 0 5px;
}
#VideoInp{
    padding: 10px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    /* background-color: white; */
}
.btnM{
    background-color: #04AA6D;
  color: white;
  margin-right: 3px;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 30%;
  margin-bottom:10px;
  opacity: 0.8;
}
.Video_chat{
    border-radius: 50%;
}



body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #911f27;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
  border-radius: 10px;
}

/* The popup chat - hidden by default */
.chat-popup {
    background-image: linear-gradient(#911f27,#f8bec1);
    border-radius: 10px;
    opacity:1;
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(10);
 }

 .box1 {
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 1;
 }
 .box2 {
    grid-column-start: 10;
    grid-row-start: 1;
 }

/* Add a red background color to the cancel button */
.cancel {
  opacity: 1;
  width: 100%;
  background-color: red;
}

/* Add some hover effects to buttons */
.btnM:hover, .open-button:hover {
  opacity: 1;
}